*{
	box-sizing: border-box;
}

body{
	background-color: black;
}
.main2{
	/*border:2px solid black;*/
	display: flex;
	flex-direction: row;
	padding: 20px;
}
.choosePlayers{
	display: flex;
	flex-direction: column;
	/*border:2px solid white;*/
	border-radius: 20px;
	width: 50%;
	height: 800px;
	box-shadow: 4px 4px 15px white ;
}

input{
	/*width: 400px;*/
	margin-right: 100px;
	margin-left: 50px;
	/*margin-top: 35px;*/
}
.butA1{
	margin-right: 100px;
	margin-left: 50px;
}
/*************************************************************/

.formation0{
	/*border:2px solid black;*/
	border-radius: 20px;
	width: 50%;
	height: 800px;
	margin-right: 30px;
	background-image: url("field.png");
	background-size: 100% 800px;
	background-repeat: no-repeat;
	box-shadow: 4px 4px 15px white ;
	display: flex;
	flex-direction: column;
}



/*********************433****************************************/

.field{
	/*border:2px solid black;*/
	width: 50%;
	height: 800px;
	margin-right: 30px;
	background-image: url("field.png");
	background-size: 100% 800px;
	background-repeat: no-repeat;
	box-shadow: 4px 4px 15px white ;
	display: flex;
	flex-direction: column;
}

.lines{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*border:2px solid black;*/
	height: 500px;
	padding-right: 40px;
	padding-left: 40px;
}

.line0{
	align-items: center;
}

.line1{
	align-items: center; 
}

.line2{
	align-items: center;
}
.line3{
	justify-content: center;
	align-items: flex-end;
	height: 200px;
}

/*  circles representing the players */
.placePlayer{
	border:2px solid black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.forward{
	background-color: red; 
}
.mid{
	background-color: orange;
}
.defense{
	background-color: blue; 
}
.goalkeeper{
	background-color: black; 
}
/******************************************************************/

#formation_selection{
	margin-top: 10px;
	align-self: center;
}


/****************442**************************************/
.field2{
	width: 50%;
	height: 800px;
	margin-right: 30px;
	background-image: url("field.png");
	background-size: 100% 800px;
	background-repeat: no-repeat;
	box-shadow: 4px 4px 15px white ;
	display: flex;
	flex-direction: column;
}

.linesbis{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*border:2px solid black;*/
	height: 500px;
	padding-right: 40px;
	padding-left: 40px;
}

.line0bis{
	align-items: center;
}

.line1bis{
	align-items: center; 
}

.line2bis{
	align-items: center;
}
.line3bis{
	justify-content: center;
	align-items: flex-end;
	height: 200px;
}

.placePlayerbis{
	border:2px solid black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.forwardbis{
	background-color: red; 
}
.midbis{
	background-color: orange;
}
.defensebis{
	background-color: blue; 
}
.goalkeeperbis{
	background-color: black; 
}
