





/***********SECTION MAIN*****************************/

.main{
	display: flex;
}

#foot{
    width:100%;     
    height: 100%;
    
}

.btn{
	align-self: center;
	position:fixed;
	background-color: blue;
	border-radius: 20px;
}